<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Tribe Page - Jalal - FDND</title>
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cairo" rel="stylesheet">
</head>

<header>

  <h1>fdnd</h1>

  <h2>TRIBE PAGE</h2>

  <div>
    <button id="toggle-button"> </button>
    <h3>Filters</h3>
  </div>

  <section class="filter-box">

    <div>
      <div>
        <h4>Squads</h4>
        <ul>
          <li>
            <a href="/?squad=squad-a-2022">Squad A</a>
          </li>
          <li>
            <a href="/?squad=squad-b-2022">Squad B</a>
          </li>
          <li>
            <a href="/?squad=squat-c-2022">Squad C</a>
          </li>
        </ul>
      </div>
      
      <div>
        <h4>Skill level</h4>
        <ul>
          <li>
            <a href="/?skill=Enthusiast" aria-label="filter option Enthusiast">Enthusiast</a>
          </li>
          <li>
            <a href="/?skill=Mash-up Artist" aria-label="filter option Mash-up Artist">Mash-up Artist</a>
          </li>
          <li>
            <a href="/?skill=Inventor" aria-label="filter option Inventor">Inventor</a>
          </li>
          <li>
            <a href="/?skill=Wizard" aria-label="filter option Wizard">Wizard</a>
          </li>
        </ul>
      </div>
    </div>
  </section>


</header>