<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Tribe Page - Jalal - FDND</title>
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cairo" rel="stylesheet">
</head>

<header>

  <h1>fdnd</h1>

  <h2>TRIBE PAGE</h2>

  <div>
    <button> </button>
    <nav>
      
    </nav>
  </div>

  <section>

    <h3>Filter</h3>

    <form action="/members" method="get" class="filters">
      <ul>
        <li>
          <a href="/?squad=squad-a-2022">Squad A</a>
        </li>
        <li>
          <a href="/?squad=squad-b-2022">Squad B</a>
        </li>
        <li>
          <a href="/?squad=squat-c-2022">Squad C</a>
        </li>
      </ul>
    <ul>
      <li>
        <a> The Enthusiast </a>
      </li>
      <li>
        <a> The Mash-up Artist</a>
      </li>
      <li>
          =<a>The Inventor </a>
      </li>
      <li>
        <a> The Wizard</a>
      </li>
    </ul>

  </section>


</header>